.ac {
  /*max-height:0px;*/
  height:0px;
  display:block;
  background-color: lightgrey;
  visibility: visible;
  transition: all 300ms linear;
  padding:0px;
  overflow: hidden;

}

button{
  margin: 5px;
}

#accordion-item{
 
  background-color: red;
  visibility : visible;
  height:auto !important;
  border-width: 3px;
  border-color: blue;
  border-style: solid;
  /*or border : 5px blue solid;*/
  padding: 5px;
  margin: 5px;
  border-color: blue;
  list-style-type: none;
 
}

